<%-include('partials/header')%>

<div class="row-parent container-fluid">
    <div class="post-parent about">
        <h1>About</h1>

        <p><%=aboutContent%></p>
    </div>
</div>


<%- include('partials/footer')%>