<%-include('partials/header')%>


<div class="row-parent container-fluid">
<div class="post-parent contact">

    <h1>Contact</h1>

    <p><%=contactContent%>/p>
</div>
</div>


<%- include('partials/footer')%>